---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">REALM Headline</h1>
			<p class="subtext editable">Description text about REALM. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			<!--<div class="cta button alt"><a href="#">Join Now</a></div>-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="inner-hero mission">
		<div class="text">
			<h2>REALM Leadership</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="bottomborder">
			<h3 class="text">
				Pull quote from Mission Statement.
			</h3>
		</div>
	</section>

	<section class="info" id="learn-more">
		<div class="container">
			<div class="minihero" style="background-image: url({% include relative-src.html src=page.image %})">
				<div class="text-container">
					<h3>What REALM offers</h3>
				</div>
			</div>
		</div>
		<div class="container flex firstgroup">
			<div class="text">
				<h2 class="editable">1:1 Coaching</h2>
				<p class="editable">Making news friends in the adult world is hard. Frisco is the perfect filter matching you the most interesting people in your area.</p>
				<div class="cta button"><a href="#">Read More</a></div>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/400x400" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Company Groups</h2>
				<p class="editable">The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.</p>
				<div class="cta button"><a href="#">Read More</a></div>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/400x400" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex bottomborder">
			<div class="text">
				<h2 class="editable">Group Coaching</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
				<div class="cta button"><a href="#">Read More</a></div>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/400x400" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="container info">
		<div class="testimonial grid-spaceAround">
			<div class="col-4">
				<p>
					Testimonial goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<img class="profilepic" src="http://placehold.it/150x150" />
			</div>
			<div class="col-4">
				<p>
					Testimonial goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<img class="profilepic" src="{{ site.baseurl }}/images/beautiful-brunette-cute-774909square.jpg" />
			</div>
		</div>
	</section>

	<section class="hero Whois grid" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container col-5" data-push-left="off-6">
			<div class="hero-text-container">
				<h2 class="editable">Who is Becky?</h2>
				<p class="subtext editable">How to get in touch with her. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<div class="cta button alt"><a href="#">Read More</a></div>
			</div>
		</div>
	</section>

	<section class="hero">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Ready to Meet Becky?</h2>
				<p class="subtext editable">How to get in touch with her.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>

	<section class="grid">
		<div class="col-6 .grid-middle thoughts" style="background-image: url(http://placehold.it/1000x1000)">
			<div class="col">
			<h4>Follow REALM</h4>
			<div class="social">
				Twitter
			</div>
			</div>
		</div>
		<div class="col-6 .grid-middle" style="background-image: url(http://placehold.it/1000x1000)">
			<div class="col">
				<h4>Blog Link</h4>
				<div class="cta button alt"><a href="#">Read More</a></div>
				</div>
		</div>
	</section>
</div>
