---
title: Offerings
description: What you can get from REALM Leadership
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">REALM Offerings</h1>
			<p class="subtext editable">Learn about signing up for all this here.</p>
		</div>
	</div>
</section>

<div class="content">
	<!-- OPENING CONTENT -->
	<section class="inner-hero mission bottomborder">
		<div class="text">
			<h2>REALM Offerings</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</section>

<!-- 1:1 COURSES -->
	<section class="info offering workshop">
		<div class="inner-quote text-container">
			<div class="quote-text-container">
				<h2 class="">1:1 Workshops</h2>
				<p class="subtext">Descriptor text about why it is so good to sign up for a course. some info about what you'll need</p>
				<div class="cta button alt"><a href="#">Click Me To Learn More</a></div>
			</div>
		</div>
	</section>
	<!-- GROUPS -->
	<section class="info offering company">
		<div class="inner-quote text-container">
			<div class="quote-text-container">
				<h2 class="">Company Groups</h2>
				<p class="subtext">Descriptor text about why it is so good to sign up for a course. some info about what you'll need</p>
				<div class="cta button alt"><a href="#">Click Me To Learn More</a></div>
			</div>
		</div>
	</section>
	<!-- GROUP COACHING -->
	<section class="info quote groupcoach">
		<div class="inner-quote text-container">
			<div class="quote-text-container">
				<h2 class="">Group Coaching</h2>
				<p class="subtext">Descriptor text about why it is so good to sign up for a course. some info about what you'll need</p>
				<div class="cta button alt"><a href="#">Click Me To Learn More</a></div>
			</div>
		</div>
	</section>

	<section class="info" id="learn-more">
		<!--Photo Header DOWNLOAD -->
		<div class="container">
			<div class="minihero" style="background-image: url({% include relative-src.html src=page.image %})">
				<div class="text-container">
					<h3>Download that good worksheet here</h3>
					<div class="cta button alt"><a href="#">Click Me</a></div>
				</div>
			</div>
		</div>

		<!-- Description of Services -->
		<!-- HOW -->
		<div class="container flex firstgroup">
			<div class="text">
				<h2>How Becky Works</h2>
				<p class="editable">Making news friends in the adult world is hard. Frisco is the perfect filter matching you the most interesting people in your area.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/400x400" alt="Screenshot" />
			</div>
		</div>
	</section>

	<!-- What You'll Get -->
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">What You'll Get Out of It</h2>
				<p class="editable">The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/400x400" alt="Screenshot" />
			</div>
		</div>
	</section>

	<!-- TESTIMONIALS -->
	<section class="container bottomborder">
		<div class="testimonial">
			<div class="">
				<p>
					Testimonial goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="identifier">
					<h4>First Last Name</h4>
					<h5>Position</h5>
				</div>
			</div>
		</div>
	</section>

	<!-- SIGN UP -->
	<section class="hero">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Ready to Sign UP?</h2>
				<p class="subtext editable">Descriptor text about why it is so good to sign up fo ra course. some info about what you'll need</p>
				<div class="cta button alt"><a href="#">Click Me To Join Now</a></div>
			</div>
		</div>
	</section>

</div>
