---
title: One-on-One Coaching
description: Work with Becky in a one-on-one relationship.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">1:1 Coaching</h1>
			<p class="subtext editable">Short text about what Becky and you will work on. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
	</div>
</section>

<div class="content">
	<section class="inner-hero mission">
		<div class="text bottomborder">
			<h2>What it's All About</h2>
			<p class="two-col">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<bR />
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</section>

	<section class="info">
		<!-- Step 1 -->
		<div class="headline">
			<h2> How it Works</h2>
		</div>
		<div class="container flex">
			<div class="text">

				<h3 class="editable">Step 1</h3>
				<p class="editable">Making news friends in the adult world is hard. Frisco is the perfect filter matching you the most interesting people in your area. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/400x400" alt="Screenshot" />
			</div>
		</div>
	</section>

	<!-- STEP 2 -->
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h3 class="editable">Step 2</h3>
				<p class="editable">Making news friends in the adult world is hard. Frisco is the perfect filter matching you the most interesting people in your area. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="image">
				<img src="http://placehold.it/400x400" alt="Screenshot" />
			</div>
		</div>
	</section>

	<!-- GROUPCOACH -->
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h3 class="editable">Step 3</h3>
				<p class="editable">Making news friends in the adult world is hard. Frisco is the perfect filter matching you the most interesting people in your area. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/400x400" alt="Screenshot" />
			</div>
		</div>
	</section>


	<!-- WHY DO THIS -->
	<section class="hero Whois grid" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container col-5" data-push-left="off-6">
			<div class="hero-text-container">
				<h2 class="editable">What you'll Get Out of It</h2>
				<p class="subtext editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		</div>
	</section>

	<!-- TESTIMONIALS -->
	<section class="container info">
		<div class="grid-spaceAround">
			<h2 class="col-12 headline">What Clients Say about It</h2>
			<div class="col-5">
				<p>
					Testimonial goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="identifier">
					<h4>First Last Name</h4>
					<h5>Position</h5>
				</div>
			</div>
			<div class="col-5">
				<p>
					Testimonial goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="identifier">
					<h4>First Last Name</h4>
					<h5>Position</h5>
				</div>
			</div>
		</div>
	</section>

	<!-- HOW TO REGISTER -->
	<section class="hero">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Ready to Sign Up?</h2>
				<p class="subtext editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<div class="cta button alt"><a href="#">Contact Becky to Sign Up</a></div>
			</div>
		</div>
	</section>

</div>
