.mission{
	text-align: center;
	align-items: center;
	min-height: 300px;
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: #ffffff;
	max-width: 65em;
	margin: auto;
}

.thoughts{
	display: flex;
	width: 100%;
}

.social-follow{
	position: relative;
	overflow: hidden;
	text-align: center;
	align-items: center;
	padding: 100px 0;
	width: 50%;
}

.small-cta{
	position: relative;
	text-align: center;
	align-items: center;
	padding: 100px 0;
	width: 50%;
}

.minihero {
	display: flex;
	align-items: center;
	color: #ffffff;
	text-align: center;
	height: 30vh;
	min-height: 220px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: 2em;
}

.lighthero {
	color: #333333;
	text-align: center;
	height: 40vh;
	min-height: 220px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		width: 750px;
		text-align: center;

		h1, h2, p, .button {
			text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}
	}

}

/* START HERO CONTENT */
.hero {
	color: #ffffff;
	text-align: center;
	height: 100vh;
	min-height: 550px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:before {
		content: "";
		background: linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;
}

	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		width: 600px;
		text-align: left;

		h1, h2, p, .button {
			text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

/* END HERO CONTENT */

.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.identifier{
	text-align: right;
}

.quote {
	color: #ffffff;
	background-color: #333333;
	/*text-align: center;*/
	/*height: 20vh;*/
	min-height: 250px;
	margin-bottom: 50px;

	h3{
		font-family: 'Lato';
		font-style: strong;
	}
}

.offering {
	color: #ffffff;
	min-height: 250px;

	h3{
		font-family: 'Lato';
		font-style: strong;
	}
}

.workshop {
		background-color: #cccccc;
}

.company {
		background-color: #555555;
}

.groupcoach {
		background-color: #222222;
}

.inner-quote {
	display: flex;
	align-items: center;
	height: 50%;
}

.quote-text-container {
	width: 750px;
	text-align: left;
	margin-top: 100px;
	margin-bottom: 50px;

	h1, h2, p, .button {
		text-shadow: 1px 1px 1px rgba(0,0,0,.8);
	}
}

.boards{
	text-align: center;
	margin: auto;
	max-width: 65em;
	padding-top: 4em;
	padding-bottom: 4em;

	p{
		font-size: 1em;
	}
}

.Whois{
	background-color: #acacac;
}

.testimonial{
	margin: auto;
	padding-bottom: 1em;
	max-width: 50em;
}

.headline {
	margin: auto;
	text-align: center;
}
